form {
	transform: translateY(-10%);
}
form .login-link:hover {
	text-decoration: underline;
}
.login-form-container {
	height: 100vh;
}
#login-form {
	background-color: var(--primary);
	border-radius: 1rem;
	width: 30%;
}
.form-control {
	border: 2px solid var(--secondary);
	background-color: transparent;
	color: var(--form-control-text);
}
.form-control:focus {
	color: var(--form-control-text);
	border: 2px solid var(--secondary);
	background-color: var(--primary);
	box-shadow: none;
}

#submit-btn:hover {
	font-weight: bold;
	background-color: var(--form-submit-btn-border);
}
